<section class="dash-container">
  <section class="dash-top">
    <section>
      <app-basic-card
       [card-subtitle]="in_out.subtitle"
       [card-title]="in_out.title"
       [card-total-in]="in_out.in"
       [card-total-out]="in_out.out"
       [card-label-top]="in_out.labelTop"
       [card-label-bottom]="in_out.labelBottom"
      >
      </app-basic-card>
    </section>
    <section>
      <app-basic-card
       [card-subtitle]="outgoing.subtitle"
       [card-title]="outgoing.title"
       [card-total-in]="outgoing.in"
       [card-total-out]="outgoing.out"
       [card-label-top]="outgoing.labelTop"
       [card-label-bottom]="outgoing.labelBottom"
      >
      </app-basic-card>
    </section>
    <section>
      <app-chart-pier></app-chart-pier>
    </section>
    <section>
      <app-chart-bar></app-chart-bar>
    </section>
    <section>
      <app-basic-card
       [card-subtitle]="outgoing.subtitle"
       [card-title]="outgoing.title"
       [card-total-in]="outgoing.in"
       [card-total-out]="outgoing.out"
       [card-label-top]="outgoing.labelTop"
       [card-label-bottom]="outgoing.labelBottom"
      >
      </app-basic-card>
    </section>
  </section>
</section>
<section class="main .dash-container">
  <app-despesas-table></app-despesas-table>
</section>
