.dash-container {
  display: flex;
}

.dash-top {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: space-between;
  flex-direction: row;
  flex-wrap: wrap;
}

.dash-top > section {
  margin: 10px;
  flex-grow: 1;
}

.main {
  flex-direction: column;
  justify-content: center;
  margin: 10px;
}

@media only screen and (min-width: 1200px) {
  .dash-top > section {
    margin-left: 25px;
    padding-left: 10px;
  }
}
