<mat-toolbar color="primary" class="mat-elevation-z8">
  <span>
    <mat-icon>econ</mat-icon>
    Pilikino
  </span>
  <section class="spacer"></section>
  <a mat-button><mat-icon>space_dashboard</mat-icon> <span>Dashboard</span></a>
  <button mat-button [matMenuTriggerFor]="despesas">
    <mat-icon>list_alt</mat-icon> <span>Despesas</span>
  </button>
  <mat-menu #despesas="matMenu">
    <button mat-menu-item>Cadastrar</button>
    <button mat-menu-item>Relatorios</button>
  </mat-menu>
  <button mat-button [matMenuTriggerFor]="lancamentos">
    <mat-icon>attach_money</mat-icon> <span>Lançamentos</span>
  </button>
  <mat-menu #lancamentos="matMenu">
    <button mat-menu-item>Incluir</button>
    <button mat-menu-item>Relatorios</button>
  </mat-menu>
</mat-toolbar>
