<section class="dash-container">
    <section class="dash-top">
      <section>
        <app-card-total-sumary></app-card-total-sumary>
      </section>
      <section>
        <app-card-month-sumary></app-card-month-sumary>
      </section>
      <section>
        <app-chart-pier></app-chart-pier>
      </section>
      <section>
        <app-chart-bar></app-chart-bar>
      </section>
      <section>
        <!-- <app-basic-card
         [card-subtitle]="outgoing.subtitle"
         [card-title]="outgoing.title"
         [card-total-in]="outgoing.in"
         [card-total-out]="outgoing.out"
         [card-label-top]="outgoing.labelTop"
         [card-label-bottom]="outgoing.labelBottom"
        >
        </app-basic-card> -->
      </section>
    </section>
  </section>
  <section class="main .dash-container">
    <app-despesas-table></app-despesas-table>
  </section>
  